html, body{
            height: 100%;
        }
        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 100px;
            background-color: #f5f5f5;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        
        .form-signin .radio {
            font-weight: 400;
        }
        
        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
        
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .id_ok{
			color:#008000;
			display: none;
		}
			
		.id_already{
			color:#6A82FB; 
			display: none;
		}
		
		.pw_ok{
			color:#008000;
			display: none;
		}
		
		.pw_no{
			color:#6A82FB;
			display : none;
		}